{%- extends 'base.html' %}

{%- block body %}
    {%- if action_status == 'Succeeded' %}
        <div class ="good_condition"> {{ action_name ~ " " ~action_status }} </div>
        <div class ="no_condition"> Log </div>
        <div class="text-box"> {{ log | safe }} </div>
        <form action="/deploy_airbyte_flow_to_prefect" method="POST">
            <button type="submit" name="deploy_to_prefect" value="true">Deploy</button>
        </form>
    {%- else%}
        <div class ="bad_condition"> {{ action_name ~ " " ~action_status }} </div>
        <div class ="no_condition"> Log </div>
        <div class="text-box"> {{ log | safe }} </div>
        <form method="POST">
            <input type="text" 
            name="airbyte_object_name_in_prefect" 
            id = 'airbyte_object_name_in_prefect'
            placeholder="Your airbyte Json block name in Prefect" 
            />
            <button type="submit" name="generate_prefect_airbyte_button" value="true">Generate Template</button>
        </form>
    {%- endif%}
{%- endblock %}
